<footer class="bg-gray-800 text-white p-6 mt-8 shadow-inner">
    <div class="container mx-auto text-center">
        <p class="text-sm">&copy; {{ site.time | date: "%Y" }} {{ site.title }}. All rights reserved.</p>
        <p class="text-sm mt-2">Built with ❤️ and a little bit of code.</p>
        <a href="https://www.instagram.com/sthlouky" target="_blank" rel="noopener noreferrer">
            <img src="{{ "/ig.png" | relative_url }}" alt="Instagram Icon" class="inline-block h-6 w-6 mt-2 filter invert">
        </a>
    </div>
</footer>
