<!-- Image Section -->
<section class="mb-8 p-6 bg-gray-50 rounded-lg shadow-inner">
    <h2 class="text-3xl font-semibold mb-4 text-gray-700">A few glimpses</h2>

    <!-- Slideshow container -->
    <div class="slideshow-container">
        {% assign current_index = 1 %}
        {% for image in site.data.images %}
        <div class="mySlides fade">
            <div class="numbertext">{{ current_index}} / {{ site.data.images | size }}</div>
            <img src="{{ image.url }}" style="width:100%">
            <div class="text">{{ image.caption }}</div>
        </div>
        {% assign current_index = current_index | plus: 1 %}
        {% endfor %}
    </div>
    <br>

    <!-- The dots/circles -->
    <div style="text-align:center">
        {% assign current_index = 1 %}
        {% for image in site.data.images %}
        <span class="dot" onclick="currentSlide({{ current_index }})"></span>
        {% assign current_index = current_index | plus: 1 %}
        {% endfor %}
    </div>

    <p class="mt-4 leading-relaxed">
        Taste curated teas in a traditional Gungfu tea ceremony. Learn, sip, and tell stories.
    </p>
</section>

<script>
    showSlides();
</script>