<!-- Introduction Section -->
<section class="mb-8 p-6 bg-blue-50 rounded-lg shadow-inner">
    <h2 class="text-3xl font-semibold mb-4 text-blue-700">Welcome to the Tea House!</h2>
    <p class="text-lg leading-relaxed">
        Thanks for stopping by. I'm Rohit, and I've been drinking tea as a mindful practice for several years.
        I'm a student of tea, continuously learning on my travels. I'm a teacher by profession,
        so I'm always excited at an opportunity to share tea with someone new. The proceeds from this experience
        allow me to source new and exciting teas for every season!
    </p>

    {% include textme.html %}

</section>
