---
layout: default
---
<article class="p-6 bg-gray-50 rounded-lg shadow-inner">
    <h2 class="text-4xl font-bold text-gray-800 mb-4">{{ page.title }}</h2>
    {% include guests.html %}
    </p>

    {% include guest.html %}

    {% if page.image %}
    {% include image.html image=page.image %}
    {% endif %}

    <section class="mb-8 p-6 bg-green-50 rounded-lg shadow-inner">
        <h2 class="text-3xl font-semibold mb-4 text-green-700">Teas we had (茶)</h2>
        <p class="text-lg leading-relaxed mb-4">
            Here are the wonderful teas we had during our time together. These are links
            to pages where you can learn more about these teas, and order them
            from the sources I get them:
        </p>
        {% for tea in page.teas %}
        {% include tea.html tea=tea %}
        <br />
        {% endfor %}
    </section>

    {% if page.links %}
    <section class="mb-8 p-6 bg-green-50 rounded-lg shadow-inner">
        <h2 class="text-3xl font-semibold mb-4 text-green-700">Things we talked about (事)</h2>
        {% for link in page.links %}
        {% include link.html link=link%}
        {% endfor %}
    </section>
    {% endif %}

    {% include playlist.html playlist=page.music %}

    {% include textme.html %}

</article>